.header {
    font-family: "Raleway";
    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav{
            display: flex;
            gap: 40px;

            a {
                color: #fff;
            }
        }
    }
}